.set{
    padding-bottom: 80px;
}

.changePasswordTitle {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 45px;
}

.changePasswordDesc {
  width: 316px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
}

.changePasswordInput {
  width: 360px;
  height: 28px;
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 2px;
  stroke: #b5d1e2;
  color: #b5d1e2;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 15px;
}

.passwordMust {
  width: 357px;
  color: #f01a1a;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 15px;
}

.changePassword-btn {
  width: 191px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #b5d1e2;

  color: #043e7d;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
