*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-navbar{
    display: flex;
    gap: 300px;
    padding: 10px;
    padding-left: 50px;
    align-items: center;
    width: 100%;
}

.nav-icon-1{
    width: 100px;
    height: auto;
}

.user-navbar-1{
    display: flex;
    gap: 150px;
    cursor: pointer;
}
.nav-icon2{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-logout{
    width: 100px;
    background-color: #D6E3ED;
    color: #000000;
    cursor: pointer;
}