.Icons {
    display: flex;
    align-items:center;
    column-gap: 0px;
    margin-left: 13%;
    

    
  }
  
  .Home {
   
    margin-left: 13%;
    margin-top: 1%;
  }
  
  .image {
    width: 40px; 
    height: 40px; 
  }
  .Line{
    margin-left: 62.2%;
    width: 58px; 
    height: 6px; 
  }
  .Photo{
    margin-top: 4%;
    width: 168px; 
    height: 1px; 
    margin-left: 5%;
  }
  .Butn{
    margin-top: -2.5%;
    margin-left:90% ;
    width: 168px; 
    height: 1px; 
    color: rgb(224, 204, 191);
 
  }
  .search{
    margin-top: 5%;
    margin-left:30% ;
    width: 788px; 
    
  }