.navbar {
  background-color: #B5D1E2;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  padding-top: 12px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: right;
}

.navbar-left {
  margin-right: auto; /* Pushes the buttons to the left */
}

.primary-button {
  color: #034994;
  padding: 0.9rem 1.75rem;
  background-color: #B5D1E2;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-top: 35px;
}

.primary-button:hover {
  background-color: rgb(240, 245, 252);
}
.data-science-container {
  background-color: #B5D1E2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.data-science-image {
  max-width: 100%; /* Set maximum width to 100% */
  width: 100%; /* Ensures image fills its container */
}

.data-science-description {
  text-align: justify;
  margin-top: 25px;
  font-size: 19px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 25px;
}



