.abti{
  background-color: #046EC4;
}


.abt-container {
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .abt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh ;
    gap: 24px;
    margin-inline: auto;
    padding-inline: 48px;
    max-width: 1200px;
    border: 1px solid rgb(21, 5, 144); 
    border-radius: 12px;
    border-width: 2px;
    
  }

  .abt-content h1 {
    margin-bottom: 24px;
  }
  
  .abt-image {
    width: 20%;
    margin-right: 40px;
    max-height: 50%;
    

  }
  
  .abt-text {
    color: black;
    font-size: 14px;
    justify-self: center;   
  }
  