* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.forgotPasswordContent {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #043e7d 28%,
    #83b1cf 28%,
    #83b1cf 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;

}

.forgotPasswordForm {
  width: 500px;
  height: 600px;
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.img404 {
  height: 200px;
  width: 200px;
}

.forgotPasswordTitle {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

.forgotPasswordDes {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 360px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.forgotPasswordInput {
  width: 360px;
  height: 28px;
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 2px;
  stroke: #b5d1e2;
  padding: 2px;
  margin: 8px;
  margin-bottom: 50px;
}


.forgotPassword-btn {
  width: 157px;
  height: 30px;
  flex-shrink: 0;

  border-radius: 30px;
  background: #83b1cf;
  color: #043e7d;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.forgotPasswordMessageDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.forgotPasswordMessage {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border-color: transparent;
}

.linkArrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.forgotWrongMessage {
  color: #f01a1a;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: relative;
  bottom: 20px;
}
.forgotWrongMessage:not(.no-gap) {
  margin-bottom: 0; 
}

