

.admin-page {
    background-color: #83b1cf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
 
 
}

.admin-page .overlap-group-wrapper {
background-color:#83B1CF;
height: 900px;
width: 1440px;
position: relative;
}

.admin-page.overlap-group {
height: 680px;
left: 5px;

top:60px;
width: 1344px;

}

.admin-page .group {

height: 680px;
left: 20px;
position: absolute;
width: 1342px;
top: 80px;

}

.admin-page .rectangle {
background-color: #ffffff;
border-radius: 15px 0px 0px 15px;
height: 680px; 
left:20px;   
position:absolute;
width: 510px;
top:10px;
}

.admin-page .div {

    background-color: #043e7d;
    border-radius: 0px 15px 15px 0px;
    height: 680px;
    left:480px;
    position: absolute;
    top:10px;
    width: 880px;
    
}
    
.admin-page .under {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 78px;

    line-height: normal;
  
    position: absolute;
    top: 160px;
    white-space: nowrap;
    
}
a {
    text-decoration: none; /* Remove underline */
    color: #02090c; /* Change link color to your preference */
/* Add bold font weight */
    /* You can add more styles as needed */
}
.butn{
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 700;
   left: 50px;
   margin-left: -50%;
    background-color: rgb(176, 213, 237);
    border-radius: 18px 18px 18px 18px;
    width: 150%;

 
   
}
.admin-page .expert{
    
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 78px;

    line-height: normal;
    
    position: absolute;
    top: 220px;
    white-space:nowrap;

    }
    .admin-page .chat {

        color: #000000;
        font-family: "Inter", Helvetica;
        font-size: 25px;
        font-weight: 400;
        left: 78px;
        line-height: normal;
        mix-blend-mode:darken;
        position: absolute;
        top: 280px;
        white-space: nowrap;
    }
    .admin-page .Cont{
        color: #000000;
        font-family: "Inter", Helvetica;
        font-size: 25px;
        font-weight: 700;
        left: 78px;
        letter-spacing: 0;
        line-height: normal;
        mix-blend-mode: darken;
        position: absolute;
        top: 340px;
        white-space: nowrap;
    }
    .admin-page .exp {
        color: #ffffff;
        font-family: "Inter", Helvetica;
        font-size: 16px;
        font-weight: 700;
        left: 578px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 130px;
        white-space: nowrap;
        }
        .admin-page .line {
            height: 3px;
            left: 568px;
            position: absolute;
            top: 155px;
            width: 90px;
            
            }
            



            .group33 {
                background-color:#83B1CF;
                padding: 19px 26px 20px 33px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                left: 609px;
                top: 250px;
              }
              .penSquare {
               
                margin-bottom: 35px;
                margin-left: 12px;
                padding: 3px 2.87px 3px 2.88px;
                display: flex;
                align-items: center;
              }
              .vector {
              
                align-self: stretch;
                object-fit: cover;
                
              }
              .addContent {
                max-width: 76px;
                font-family: "Inter";
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
              }


              .group36 {
                background-color:#83B1CF;
                padding: 102px 8px 20px 33px;
                display: flex;
                align-items: flex-start;
                position: absolute;
                left: 609px;
                bottom: 190px;
              }
              .publishContent {
                margin-left: -10%;
                font-family: "Inter";
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
              }
              .vectorThree {
                width: 3.06%;
                height: 4.89%;
                position: absolute;
                left: 653px;
                bottom: 249px;
              }


              .group39 {
                background-color:#83B1CF;
                padding: 96px 32px 20px;
                display: flex;
                align-items: flex-start;
                position: absolute;
                right: 430px;
                top: 250px;
              }
              .editContent {
                font-family: "Inter";
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
              }
              .vectorSix {
                width: 2.8%;
                height: 5.66%;
                position: absolute;
                right: 478px;
                top: 264px;
              }


              .group37 {
                background-color:#83B1CF;
                padding: 94px 7px 21px;
                display: flex;
                align-items: flex-start;
                position: absolute;
                right: 430px;
                bottom: 190px;
              }
              .createAdvertisement {
                max-width: 125px;
                font-family: "Inter", Helvetica;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
              }
              .vectorFour {
                width: 2.29%;
                height: 4.89%;
                position: absolute;
                right: 486px;
                bottom: 249px;
              }


              .group35 {
                background-color:#83B1CF;
                padding: 100px 13px 14px 34px;
                display: flex;
                align-items: flex-start;
                position: absolute;
                right: 163px;
                top: 254px;
              }
              .deleteContent {
                max-width: 89px;
                font-family: "Inter", Helvetica;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
              }
              .vectorTwo {
                width: 3%;
                height: 4.89%;
                position: absolute;
                right: 200px;
                top: 268px;
              }


              .group38 {
                padding: 0 1px 0 0;
                display: flex;
                align-items: flex-start;
                position: absolute;
                right: 162px;
                bottom: 190px;
              }
              .rectangle125 {
                width: 135px;
                height: 146px;
                background-color:#83B1CF;
                position: relative;
              }
              .deleteAdvertisement {
                max-width: 127px;
                font-family: "Inter", Helvetica;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                color: black;
                position: absolute;
                left: 9px;
                top: 95px;
              }
              .vectorFive {
                width: 2.22%;
                height: 5.15%;
                position: absolute;
                right: 216px;
                bottom: 253px;
              }
             
             
           
            
            
            
