.expert:after{
    width: 70px;
}

.message{
    position: relative;
    bottom: -5px;
}

.ex{
    height: 260px;
}
.exper{
    position: relative;
    top: -10px;
}
@media (max-width: 767px) {
    .expert:after {
      width: 50px;
    }
  
    .ex {
      height: auto;
    }
  
    .message {
      text-align: center;
      margin-top: 20px;
    }
  
    .exper {
      top: 0;
    }
  }
